@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Playfair+Display:wght@900&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-card-primary: var(--card-primary);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-menu: var(--menu);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-background: var(--sidebar-background);

  /* Fonts */
  --font-playfair: 'Playfair Display', serif;
  --font-oswald: 'Oswald', sans-serif;

  /* Custom Color  */
  --color-table-avaible: var(--table-avaible);
  --color-table-busy: var(--table-busy);
  --color-table-canceled: var(--table-canceled);
  --color-table-selected: var(--table-selected);
  --color-table-blocked: var(--table-blocked);
  --color-table-pending: var(--table-pending);
  --color-table-confirmed: var(--table-confirmed);
  --color-table-notAvailable: var(--table-notAvailable);
  --color-table-noshow: var(--table-noshow);
  --color-table-released: var(--table-released);

  --color-backdrop-modal: var(--backdrop-modal);

  /* Custom shadow */
  --shadow-card: var(--shadow-card);
}

:root {
  --radius: 0.65rem;
  --background: #FAF3E6;
  --foreground: #6d5f5c;
  --card: #fcf8f0;
  --card-foreground: #4e403cc4;
  --card-primary: #ffffff9a;
  --popover: #FAF3E6;
  --popover-foreground: #4e403cc4;
  --primary: #E0822D;
  --primary-foreground: oklch(0.98 0.016 73.684);
  --secondary: #e38d40;
  --secondary-foreground: #fff;
  --muted: #FAF3E6;
  /** Color apagado*/
  --muted-foreground: #818181;
  --accent: #060606ce;
  --accent-foreground: #FAF3E6;
  --destructive: #D0534B;
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: #E0822D;
  --chart-1: #6f1c11;
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --menu: #0f090ca1;
  /*fef8ed*/

  --sidebar: transparent;
  --sidebar-foreground: #faf3e6;
  --sidebar-primary: #faf3e6;
  --sidebar-primary-foreground: #E0822D;
  --sidebar-accent: transparent;
  --sidebar-accent-foreground: #FFFFFF;
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --sidebar-background: #060606ce;

  --width-search: 12rem;
  --table-avaible: #4a977b;
  --table-busy: #d9524e;
  --table-canceled: #d9524e;
  --table-noshow: #d9524e;
  --table-released: #4a977b;
  --table-selected: #5485CE;
  --table-blocked: #ccc;
  --table-pending: #eca668;
  --table-confirmed: #3B82F6;
  --table-notAvailable: #ccc;
  --backdrop-modal: rgba(0, 0, 0, 0.25);

  /* Custom shadow */
  --shadow-card: rgba(0, 0, 0, 0.1) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.15) 0px -3px 0px inset;
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.646 0.222 41.116);
  --primary-foreground: oklch(0.98 0.016 73.684);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.646 0.222 41.116);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --menu: #0f090cd0;
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.646 0.222 41.116);
  --sidebar-primary-foreground: oklch(0.98 0.016 73.684);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.646 0.222 41.116);
}

.backdrop-blur-\[5px\] {
  backdrop-filter: blur(5px);
}

.gradient-radial-primary {
  /* box-shadow: inset 0 56px 64px #290F00; */
}

.shadow-primary {
  box-shadow:
    inset 0px -180px 100px 100px rgba(41, 15, 0, 0.342),
    0 10px 20px rgba(34, 13, 1, 0.56);
  /* background: #2f211dd3; */
}

.input-search:focus-visible {
  border: none;
  box-shadow: none;
}

.fiseldset-search:has(.input-search:focus) {
  width: var(--width-search);
}

.fiseldset-search:has(.input-search:not(:placeholder-shown)) {
  width: var(--width-search);
}

/** Style text  */
.truncate-text-nowarp {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.truncate-text-lines {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/** Style Input  */
.input-style-class {
  border: 1px solid rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(8px);
  appearance: none;
  background-repeat: no-repeat;
  background-position: right 16px center;
  background-size: 16px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.09), transparent 80%);

  /* &:focus{
    box-shadow: 0 1px 0px rgba(0, 0, 0, 0.3), 0 0 0 2px var(--primary);
  } */
}

.style-class {
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(8px);
  appearance: none;
  background-repeat: no-repeat;
  background-position: right 16px center;
  background-size: 16px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.09), transparent 80%);
}


/** Style item menu  */
.item-menu {
  position: relative;
}

.item-menu::before {
  content: "";
  width: 100%;
  position: absolute;
  height: 2px;
  bottom: -10px;
  left: 0px;
  background-color: var(--primary);
  visibility: hidden;
  transform: scale(0);
  transition: transform 0.3s ease-in-out;
}

.item-menu:hover::before {
  content: "";
  visibility: visible;
  transform: scale(1, 1)
}

/** Style component Reservation  */
.grid-table-container {
  grid-template-areas:
    "header header header"
    "main main aside";
}

.grid-table-header {
  grid-area: header;
}

.grid-table-main {
  grid-area: main;
}

.grid-table-aside {
  grid-area: aside;
}

/* Para Chrome, Safari, Edge y Opera */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}




/** ESTILOS DE CALENDARIO */
/* calendar.css */
.rbc-calendar {
  /* @apply bg-card; */
}

.rbc-toolbar {
  /* @apply flex flex-wrap justify-between items-center p-4 bg-blue-50; */
  @apply border-2 border-dashed border-gray-300 p-2 rounded-2xl bg-card;
}


.rbc-toolbar-label {
  @apply text-lg font-semibold;
}

.rbc-btn-group button {
  /* @apply bg-blue-500 text-white px-3 py-1 rounded-md hover:bg-blue-600; */
}

.rbc-event {
  /* @apply bg-green-500 text-white px-2 py-1 rounded; */
}

.rbc-month-view,
.rbc-row,
.rbc-time-view,
.rbc-time-header,
.rbc-time-content {
  @apply rounded-2xl [&::-webkit-scrollbar]:hidden bg-card;
}

.rbc-today {
  @apply !bg-primary/5;
}

.animate-bounce-card {
  animation: animate-bounce 2s ease-in-out infinite;
}

/** Card Style  */
.card-transition {
  transition: all 0.3s ease-in-out;
  transform: translateY(0px);

  &:hover {
    /* box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.10); */
    transform: translateY(-4px) !important;
  }
}

/** ANIMACIONES  */
@keyframes animate-bounce {

  0%,
  100% {
    transform: translateY(-10%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }

  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.flame {
  position: relative;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  transform-origin: bottom center;
}

.flame-1 {
  animation: flicker1 1.5s ease-in-out infinite alternate;
}

.flame-2 {
  animation: flicker2 1.8s ease-in-out infinite alternate;
}

.flame-3 {
  animation: flicker3 1.3s ease-in-out infinite alternate;
}

.flame-4 {
  animation: flicker4 1.6s ease-in-out infinite alternate;
}

.spark-1 {
  position: absolute;
  top: -20px;
  left: -10px;
  animation: sparkle1 2s ease-in-out infinite;
}

.spark-2 {
  position: absolute;
  top: -15px;
  right: -15px;
  animation: sparkle2 2.5s ease-in-out infinite;
}

.spark-3 {
  position: absolute;
  top: -25px;
  left: 10px;
  animation: sparkle3 1.8s ease-in-out infinite;
}

.loading-bar {
  animation: loadingProgress 3s ease-in-out infinite;
}

@keyframes flicker1 {
  0% {
    transform: scaleY(1) scaleX(1) rotate(-2deg);
  }

  50% {
    transform: scaleY(1.1) scaleX(0.9) rotate(1deg);
  }

  100% {
    transform: scaleY(0.9) scaleX(1.1) rotate(-1deg);
  }
}

@keyframes flicker2 {
  0% {
    transform: scaleY(1) scaleX(1) rotate(1deg);
  }

  50% {
    transform: scaleY(1.2) scaleX(0.8) rotate(-2deg);
  }

  100% {
    transform: scaleY(0.8) scaleX(1.2) rotate(2deg);
  }
}

@keyframes flicker3 {
  0% {
    transform: scaleY(1) scaleX(1) rotate(-1deg);
  }

  50% {
    transform: scaleY(0.9) scaleX(1.1) rotate(2deg);
  }

  100% {
    transform: scaleY(1.1) scaleX(0.9) rotate(-2deg);
  }
}

@keyframes flicker4 {
  0% {
    transform: scaleY(1) scaleX(1) rotate(2deg);
  }

  50% {
    transform: scaleY(1.1) scaleX(0.9) rotate(-1deg);
  }

  100% {
    transform: scaleY(0.9) scaleX(1.1) rotate(1deg);
  }
}

@keyframes sparkle1 {

  0%,
  100% {
    opacity: 0;
    transform: translateY(0) scale(0);
  }

  50% {
    opacity: 1;
    transform: translateY(-20px) scale(1);
  }
}

@keyframes sparkle2 {

  0%,
  100% {
    opacity: 0;
    transform: translateY(0) scale(0);
  }

  50% {
    opacity: 1;
    transform: translateY(-25px) scale(1.2);
  }
}

@keyframes sparkle3 {

  0%,
  100% {
    opacity: 0;
    transform: translateY(0) scale(0);
  }

  50% {
    opacity: 1;
    transform: translateY(-15px) scale(0.8);
  }
}

@keyframes loadingProgress {
  0% {
    width: 0%;
  }

  50% {
    width: 70%;
  }

  100% {
    width: 100%;
  }
}